* {
  font-family: "Barlow", sans-serif;
}

header {
.navbar {
  font-family: "Barlow", sans-serif;
  background-color: rgb(27, 27, 27);
  height: 60px;
  .logo {
    margin-left: 120px;
    width: 50px;
    height: 50px;
  }
  .text {
    color: white;
    margin-left: 250px;
  }
  .text1 {
    margin: 10px 120px 0 0;
    p {
      color: white;
    }
  }
}
}

// body{
//   background-color: #cac4c4;
// }

.container1 {
  margin-left: 200px;
  padding-top: 50px;
  h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 16px;
  }
  
  .payment {
    button {
      background-color: white;
      height: 35px;
      border: 2px solid lightgray;
    }
    .credit {
      margin-left: -40px;
    }
    .cash {
      margin-left: -50px;
    }
  }

  .summary {
    margin-left: 200px;
    font-weight: bold;
    .subtotal {
      margin-bottom: 50px;
      .sub {
        margin-left: 110px;
      }
    }
    .total {
      .total {
        margin-left: 110px;
      }
    }
  }

  .details {
    margin-top: -80px;
    .input-group {
      width: 350px;
    }
    .date {
      margin-left: 35px;
      width: 120px;
    }
    .cvv {
      width: 120px;
    }
  }

  .code {
    margin-top: 20px;
    .input-group {
      width: 300px;
    }
  }

  .billing {
    margin-top: 40px;
    p {
      margin-top: 40px;
    }
  }

  .back {
    .back-box {
      button {
        width: 150px;
        height: 35px;
        background-color: white;
        border: 2px solid lightgray;
      }
    }
    .confirm {
      button {
        width: 500px;
        height: 35px;
        color: white;
        background-color: black;
        border: none;
        margin-left: -55px;
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  header {
    display: none;
  }
  .container1 {
    margin-left: 0px;
    align-content: center;

    .payment {
      display: flex;
      flex-direction: column;

      .paypal {
        button {
        width: 400px;
        margin-bottom: 10px;
        }
      }

      .credit {
        button {
        width: 400px;
        margin-left: 40px;
        margin-bottom: 10px;
        }
      }

      .cash {
        button {
        width: 400px;
        margin-left: 50px;
        margin-bottom: 10px;
        }
      }
    }

    .summary {
      display: none;
    }

    .details {
      display: none;
    }

    .code {
      margin-top: 30px;
      .input-group {
        width: 400px;
      }
    }

    .billing {
      p {
        display: none;
      }
    }

    .back {
      .back-box {
        display: none;
      }
      
      .confirm {
        button {
        width: 400px;
        margin-top: 45px;
        margin-left: 0px;
        }
      }
    }
  }
}


@media only screen and (max-width: 1024px) {
  header {
    display: none;
  }
  .container1 {
    // margin-left: 0px;
    align-content: center;

    .payment {
      display: flex;
      flex-direction: column;

      .paypal {
        button {
        width: 400px;
        margin-bottom: 10px;
        }
      }

      .credit {
        button {
        width: 400px;
        margin-left: 40px;
        margin-bottom: 10px;
        }
      }

      .cash {
        button {
        width: 400px;
        margin-left: 50px;
        margin-bottom: 10px;
        }
      }
    }

    .summary {
      display: none;
    }

    .details {
      display: none;
    }

    .code {
      margin-top: 30px;
      .input-group {
        width: 400px;
      }
    }

    .billing {
      p {
        display: none;
      }
    }

    .back {
      .back-box {
        display: none;
      }
      
      .confirm {
        button {
        width: 400px;
        margin-top: 45px;
        margin-left: 0px;
        }
      }
    }
  }
  
  
  
}