.card-img-top {
  height: 300px;
  width: 270px;
}

.row {
  margin-bottom: 50px;
}

img.carouselimg {
  height: 675px;
  width: 100%;
}

p.sideH {
  margin-bottom: 7rem;
}

div.slide {
  margin-bottom: 5rem;
}

header .h-100 {
  height: auto;
}

header .xx {
  background-color: #1b1b1b;
}

.logo {
  margin: 0 20px 0 20px;
  width: 50px;
  height: 50px;
  background: url(/img/logo.png);
}

.Rectanggle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bag {
  position: absolute;
  width: 16.13px;
  left: 85%;
}

li {
  display: inline;
  margin-right: 10px;
}

li.price {
  text-decoration: line-through;
}

p {
  font-size: 32px;
  font-family: sans-serif;
}

.container1 {
  margin-left: 50px;
}

.container1 .box p {
  font-size: 16px;
  color: #ff3d3d;
  margin-top: 40px;
}

.container1 .box h1 {
  font-size: 26px;
  color: #d64545;
}

.container1 .box h2 {
  font-size: 24px;
  font-weight: normal;
}

.container1 .select #size {
  height: 55px;
  width: 190px;
}

.container1 .select .col-4 p {
  font-size: 18px;
  color: gray;
}

.container1 .select .col-2 p {
  font-size: 18px;
  color: gray;
}

#num {
  height: 55px;
  width: 100px;
}

.col-4 p {
  font-size: 18px;
  color: gray;
}

.col-2 p {
  font-size: 18px;
  color: gray;
}

.sum h1 {
  font-size: 35px;
  font-family: sans-serif;
}

.sum h2 {
  font-size: 22px;
}

@media only screen and (max-width: 768px) {
  header .xx {
    background-color: #fdfdfd;
  }
  ul {
    visibility: hidden;
  }
  .logo,
  .Rectanggle {
    visibility: hidden;
  }
  .bag .cv {
    color: black;
  }
  img.carouselimg {
    height: 496px;
    width: 100%;
  }
  .col {
    margin-left: 18%;
    /*jhfgkjhjjkj*/
  }
}

* {
  font-family: "Barlow", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card img {
  width: 730px;
  height: 480px;
  max-width: 100%;
  height: auto;
}

.detail {
  margin-left: 80px;
}

.detail .text-danger {
  margin-top: 20px;
  font-weight: bold;
}

.detail .text-secondary {
  margin-top: 40px;
  font-weight: bold;
}

.detail h4 {
  margin-top: 30px;
  font-weight: bold;
}

.detail .size {
  width: 400px;
  height: 50px;
}

.detail .btn {
  width: 400px;
  height: 50px;
  margin-top: 25px;
  font-weight: bold;
}

.detail .btndetail {
  background-color: white;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .border-bottom {
    display: none;
  }
  .container .card {
    width: 100%;
    margin: 0%;
  }
  .container .detail {
    margin-left: 0%;
    margin-top: 40px;
    width: 80%;
  }
}

@media only screen and (max-width: 411px) {
  .border-bottom {
    display: none;
  }
  .container .card {
    width: 100%;
    margin: 0%;
  }
  .container .detail {
    margin-left: 0%;
    margin-top: 40px;
    width: 80%;
  }
  .container .size {
    width: 300px;
  }
  .container .btn {
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */