.card-img-top {
  height: 300px;
  width: 270px;
}

.row {
  margin-bottom: 50px;
}



//dev-doom work
img.carouselimg {
  height: 675px;
  width: 100%;
}

p.sideH {
  margin-bottom: 7rem;
}

div.slide {
  margin-bottom: 5rem;
}
//dev-doom work
header {
  .h-100 {
    height: auto;
  }
  .xx {
    background-color: rgb(27, 27, 27);
  }
}

.logo {
  margin: 0 20px 0 20px;
  width: 50px;
  height: 50px;
  background: url(/img/logo.png);
}

.Rectanggle {
  align-items: center;
}

.bag {
  position: absolute;
  width: 16.13px;
  left: 85%;
}

li {
  display: inline;
  margin-right: 10px;
}

li.price {
  text-decoration: line-through;
}
p {
  font-size: 32px;
  font-family: sans-serif;
}

.container1 {
    margin-left: 50px;
  .box {
    p {
      font-size: 16px;
      color: rgb(255, 61, 61);
      margin-top: 40px;
    }

    h1 {
      font-size: 26px;
      color: rgb(214, 69, 69);
    }
    h2 {
      font-size: 24px;
      font-weight: normal;
    }
  }
  .select {
    #size {
      height: 55px;
      width: 190px;
    }
    .col-4 {
      p {
        font-size: 18px;
        color: gray;
      }
    }
    .col-2 {
      p {
        font-size: 18px;
        color: gray;
      }
    }
  }
}
#num {
  height: 55px;
  width: 100px;
}
.col-4 {
  p {
    font-size: 18px;
    color: gray;
  }
}
.col-2 {
  p {
    font-size: 18px;
    color: gray;
  }
}

.sum {
  h1 {
    font-size: 35px;
    font-family: sans-serif;
  }
  h2 {
    font-size: 22px;
  }
}

// .box-sum {
//   background-color: rgba(230, 224, 224, 0.507);
//   padding-top: 30px;
//   height: 450px;
//   h1 {
//     font-size: 26px;
//     font-family: sans-serif;
//   }
//   .subtotal {
//     margin-top: 40px;
//     font-family: sans-serif;
//     font-size: 18px;
//     .sub {
//       margin-left: 80px;
//     }
//   }
//   .total {
//     margin-top: 100px;
//     font-family: sans-serif;
//     font-size: 18px;
//     .totalNum {
//       margin-left: 80px;
//     }
//   }
//   .btn {
//     width: 400px;
//   }
// }
@media only screen and (max-width: 768px) {
  //Dew

  header {
    .xx {
      background-color: rgb(253, 253, 253);
    }
  }

  ul {
    visibility: hidden;
  }
  .logo,
  .Rectanggle {
    visibility: hidden;
  }
  .bag .cv {
    color: black;
  }

  //Doom
  img.carouselimg {
    height: 496px;
    width: 100%;
  }

  //Frist

  .col {
    margin-left: 18%;
    /*jhfgkjhjjkj*/
  }
}
