//checkout
* {
  background-color: rgb(212, 207, 207);
}
.navbar {
  padding-left: 100px;

  img {
    background-color: white;
  }

  .text{
    background-color: white;
  h3 {
    margin-left: 170px;
    background-color: white;
    font-family: sans-serif;
  }
  }
  .text1{
    background-color: white;
    margin-right: 80px;
    margin-top: 10px;

    span{
    background-color: white;
    }
  }
}

