//checkout
* {
  background-color: rgb(212, 207, 207);
}
.navbar {
  padding-left: 100px;

  img {
    background-color: white;
  }

  .text {
    background-color: white;
    h3 {
      margin-left: 170px;
      background-color: white;
      font-family: sans-serif;
    }
  }
  .text1 {
    background-color: white;
    margin-right: 80px;
    margin-top: 10px;

    span {
      background-color: white;
    }
  }
}

.container1 {
padding-top: 50px;
h1 {
  font-size: 20px;
}
h2 {
  font-size: 16px;
}
  .box1 {
    background-color: none;
  }
  .box2 {
    background-color: none;
    width: 200px;
  }
  .box3 {
    background-color: none;
    width: 200px;
  }
  .input-group {
    width: 300px;
  }
  .date{
    width: 120px;
    margin-left: -65px;
  }
  .cvv {
    width: 120px;
  }
  .code{
    .input-group {
      width: 200px;
    }
  }
}